@font-face {
  font-family: AttackGraffiti;
  src: url('./fonts/AttackGraffiti.ttf');
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  justify-content: center;
  color: white;
}

.container {
  text-align: center;
  padding: 20px;
  width: 600px;
}

.home-screen {
  width: 600px; 
  height: 350px;
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-image: url('../img/colorful-brick-wall.webp');
  background-size:cover;
  background-position: center;
 }

 .you-win-screen {
  width: 600px; 
  height: 350px;
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  position: absolute;
 }

 .game-over-screen {
  width: 600px; 
  height: 350px;
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  position: absolute;
 }

 h1 {
  margin-top: 0;
  font-family: AttackGraffiti, Arial, Helvetica, sans-serif;
  color: #88ff22; 
  font-size: 5rem;
  font-weight: 100;
  text-shadow: -5px 3px #ff2299;
  /* Game-Over
  color: #FF5525;
  text-shadow: -5px 3px #222222; 
  */
 }

.start-btn {
  width: 10rem;
  height: 2rem;
}

canvas {
  border: 1px solid white;
  border-radius: 4px;
}

.status-bar {
  display: flex;
  align-items: center;
}

.spray-img {
  width: 20px;
  height: 40px;
}

.sprays {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.hide-element {
  display: none;
}



