@font-face {
  font-family: AttackGraffiti;
  src: url("./fonts/AttackGraffiti.ttf");
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  justify-content: center;
  color: white;
}

.container {
  text-align: center;
  padding: 20px;
  width: 600px;
  position: relative;
}

h1 {
  margin-top: 1rem;
  font-family: AttackGraffiti, Arial, Helvetica, sans-serif;
  color: #88ff22;
  font-size: 3.5rem;
  font-weight: 100;
  text-shadow: -5px 3px #ff2299;
  margin: 2rem 8rem 3rem 0rem
}

.title-div {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.5rem;
  font-style: italic;
  text-shadow: -5px 3px #ff2299;
  margin-right: 18rem;
}
.title-div:last-child {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.5rem;
  font-style: italic;
  text-shadow: -5px 3px #ff2299;
  margin-right: -13rem;
}

.instructions {
  font-family: AttackGraffiti, Arial, Helvetica, sans-serif;
  color:#222222;
  font-weight: 100;
  font-size: 1.5rem;
  display: flex;
  text-shadow: -5px 3px #ff2299;
 }

.instructions-img {
  height: 2rem;
  margin-right: 0.5rem;
}

.start-btn {
  font-family: AttackGraffiti, Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  width: 8rem;
  height: 2.5rem;
  border-radius: 1rem;
  align-self: flex-start;
  margin-left: 5px;
  box-shadow: 3px 5px #ff2299;
  position: absolute;
  right:3rem;
  top: 3rem;
  cursor: pointer;
}

.start-btn:hover {
  width: 8.5rem;
  height: 3rem;
}

.home-screen {
  width: 600px;
  height: 350px;
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-image: url("../img/colorful-brick-wall.png");
  background-size: contain;
  background-position: bottom;
}

.you-win-screen {
  width: 600px;
  height: 350px;
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
}

.you-win-title {
  font-family: AttackGraffiti, Arial, Helvetica, sans-serif;
  color: #88ff22;
  font-size: 7rem;
  font-weight: 100;
  text-shadow: -5px 3px #ff2299;
  margin: 2rem 6rem 3rem 3rem;
}

.game-over-screen {
  width: 600px;
  height: 350px;
  border: 1px solid white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
}

.game-over-title {
  font-family: AttackGraffiti, Arial, Helvetica, sans-serif;
  color: #FF5525;
  font-size: 5rem;
  font-weight: 100;
  text-shadow: -5px 3px #222222;
  margin: 2rem 6rem 3rem 3rem;
}

canvas {
  border: 1px solid white;
  border-radius: 4px;
  /* width: 600px;
  height: 350px; */
}

.status-bar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.spray-img {
  width: 20px;
  height: 40px;
}

.sprays {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  text-shadow: 0 0 2px red;
}

.hide-element {
  display: none;
}
